<div class=" mt-20 flex justify-center  ">
  <div class=" flex justify-around items-center">
    <div class="flex flex-col justify-center items-center mr-20">
      <img
        src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334305_small.svg?v=1682336123"
        class="w-[100px] md:w-[150px]"
      >
      <p class="text-gray-950 font-bold text-3xl text-center">1 Year<span class="text-gray-700"> Warranty</span></p>
    </div>
    <div class="flex flex-col justify-center items-center mr-20">
      <img
        src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334304_small.svg?v=1682336123"
        class="w-[100px] md:w-[150px]"
      >
      <p class="text-gray-950 font-bold text-3xl text-center">& Days<span class="text-gray-700"> Replacement</span></p>
    </div>
    <div class="flex flex-col justify-center items-center mr-20">
      <img
        src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334303_small.svg?v=1682336123"
        class="w-[100px] md:w-[150px]"
      >
      <p class="text-gray-950 font-bold text-3xl text-center">
        Free Express<span class="text-gray-700"> Delivery</span>
      </p>
    </div>
    <div class="flex flex-col justify-center items-center">
      <img
        src="https://www.boat-lifestyle.com/cdn/shop/files/Group_334302_small.svg?v=1682336123"
        class="w-[100px] md:w-[150px]"
      >
      <p class="text-gray-950 font-bold text-3xl text-center">GST<span class="text-gray-700"> Billing</span></p>
    </div>
  </div>
</div>
